---
title: Glimpse Framework
subtitle: OpenGL made simple
linkTitle: Home
layout: default
abstract: To create beautiful software that people like to use, by writing beautiful code that programmers like to read
keywords: glimpse,framework,opengl,3d,kotlin,functional,programming
---

<div class="hidden-xs panel panel-default">
	<div class="panel-body">
		<a href="https://travis-ci.org/GlimpseFramework/glimpse-framework"><img src="https://travis-ci.org/GlimpseFramework/glimpse-framework.svg?branch=master" style="max-width:100%;"></a>
		<a href="https://codecov.io/github/GlimpseFramework/glimpse-framework?branch=master"><img src="https://codecov.io/github/GlimpseFramework/glimpse-framework/coverage.svg?branch=master" style="max-width:100%;"></a>
		<a href="https://bintray.com/glimpse-framework/org.glimpseframework/glimpse-framework/_latestVersion"><img src="https://api.bintray.com/packages/glimpse-framework/org.glimpseframework/glimpse-framework/images/download.svg" style="max-width:100%;"> </a>
		<a href="http://www.apache.org/licenses/LICENSE-2.0"><img src="https://img.shields.io/badge/license-Apache%20License%202.0-blue.svg?style=flat" style="max-width:100%;"></a>

		<div class="pull-right">
			<a href="http://waffle.io/GlimpseFramework/glimpse-framework"><img src="https://badge.waffle.io/GlimpseFramework/glimpse-framework.svg?label=open&amp;title=open" style="max-width:100%;"></a>
			<a href="http://waffle.io/GlimpseFramework/glimpse-framework"><img src="https://badge.waffle.io/GlimpseFramework/glimpse-framework.svg?label=in%20progress&amp;title=in%20progress" style="max-width:100%;"></a>
		</div>
	</div>
</div>

{% for item in site.data.news limit:5 %}
	<div class="panel panel-default">
		<div class="panel-body">
			<h4>{% if item.url %}<a href="{{ item.url }}">{{ item.title }}</a>{% else %}{{ item.title }}{% endif %}</h4>
			<div class="post-date">{{ item.date | date: '%B %d, %Y' }}</div>
			<div class="post-abstract">{{ item.content }}</div>
		</div>
	</div>
{% endfor %}
